.home-container
  %h1 Welcome to Dev Tools Scav Hunt!

  %p Browser Developer Tools (Dev Tools for short) are a way to inspect and debug your front-end code right in the browser. Professional web developers use these tools every day to build awesome web apps!

  .home__links.clearfix

    .home__link
      = link_to hunt_path do
        %i.far.fa-list-alt
        Know a thing or two? Start the challenge!

    .home__link
      = link_to learn_path do
        %i.fas.fa-chalkboard-teacher
        New to Dev Tools? Learn about it first!
